.button {
  outline: none;
  font-size: 0.8em;
  font-family: "Quicksand", sans-serif;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px 12px;
  border: 1px solid #000000;
  background-color: #bd1d12;
  font-weight:bold; 
}



table {
  border: 1px solid #000000;
  margin: 25px 0;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse:separate;
  border-radius:6px;
  -moz-border-radius:6px;
  border-spacing: 0px;
}

thead tr {
  background-color: #0064a7;
  color: #ffffff;
  text-align: left;
  border: 1px solid #000000;
  font-size: 0.9em;
  font-weight:bold;
}

td {
  padding: 6px 12px;
  border: 1px solid #000000;
  font-size: 0.8em;
  border-left:solid black 1px;
  border-top:solid black 1px;
}

th {
  padding: 6px 12px;
  font-family: "Roboto";
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  background-color: #1762B3;
  border: 1px solid #000000;
  margin-bottom: 15px;
  border-left:solid black 1px;
  border-top:solid black 1px;
}

tbody tr {
  border-bottom: 1px solid black;
  border: 1px solid #000000;
}

tr:nth-of-type(even) {
  font-family: "Roboto";
  background-color: #dfdfdf;
  border: 1px solid #000000;
}

tr:nth-of-type(odd) {
  font-family: "Roboto";
  background-color: #d3ebff;
  border: 1px solid #000000;
}

tr:hover {background-color:#6beb30;}

tbody {
  border-bottom: 1px solid #000000;
  border: 1px solid #000000;
}

tbody tr.active-row {
  font-weight: bold;
  color: #3f51b5;
  border: 1px solid #000000;  
}